<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsh.xspamblock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@android:drawable/ic_menu_view">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="@string/module_description" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />

        <receiver android:name=".KeywordReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.dsh.xspamblock.KEYWORDS" />
                <action android:name="com.dsh.xspamblock.REQUEST" />
                <action android:name="com.dsh.xspamblock.STATUS" />
            </intent-filter>
        </receiver>

        <activity android:name=".SettingsActivity" android:exported="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>
</manifest>
